* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
/*Declare a Css Varaiable and assign the vlaue in color form*/
:root {
    --color--primary: #6c63ff;
    --color--success: #00bf8e;
    --color--warning: #f7c94b;
    --color--danger: #f75842;
    --color--warning-variant: rgba(247, 88, 66, 0.4);
    --color--white: #fff;
    --color--light: rgba(255, 255, 255, 0.7);
    --color--black: #000;
    --color--bg: #1f2641;
    --color--bg1: #2e3267;
    --color--bg2: #424890;
  
    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
  
    --transition: all 400ms ease;
  }
  /* Deal with body*/
  body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    background-color: var(--color--bg);
    color: var(--color--white);
  }
  
  /*container*/
  .continer {
    width: var(--container-width-lg);
    margin: 0 auto;
  }
  /* set some basic value of these tag do not write agaain and again */
  section {
    line-height: 6rem 0;
  }
  section h2 {
    text-align: center;
    margin-bottom: 4rem;
  }
  h1,
  h1,
  h3,
  h4,
  h5 {
    line-height: 1.2;
  }
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1, 6rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  a {
    color: var(--color--white);
  }
  img {
    width: 100%;
    display: block;
    object-fit: cover;
  }
  .btn {
    display: inline-block;
    background: var(--color--white);
    color: var(--color--black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
  }
  .btn:hover {
    background: transparent;
    color: var(--color--white);
    border-color: var(--color--white);
  }
  .btn-primary {
    background: var(--color--danger);
    color: var(--color--white);
  }
  
.about_ach{

    
    width: 90%;
    margin: 8rem 0 8rem 0;
   
}

.ach{
    display: grid;
    grid-template-columns: 40% 60%;
    gap:5rem;

}
.about_container_right > p{
    margin: 1.2rem 0 2.5rem;
}
.ach_cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}
.archievement_card{
    background-color:var(--color--bg1) ;
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
}
.archievement_card:hover{
    background: var(--color--bg2);
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.3);
}
.achievement_icon{
    background: var(--color--danger);
    padding: 0.5rem;
    border-radius: 1rem;
     display: inline-block; 
    margin-bottom: 2rem;
    font-size: 2rem;
}
.archievement_card:nth-child(2)  .achievement_icon
{
    background: var(--color--success);
}
.archievement_card:nth-child(3)  .achievement_icon
{
    background: var(--color--warning);
}
.archievement_card>p{
    margin-top: 1.5rem;
}






.meet_our_team{


    background: var(--color--bg1);
    box-shadow: inset 0 0 3rem rgba(0,0,0,0.5);
    padding-bottom: 8rem;
}
.meet_box h1{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-top: 6rem;

}

.profiles{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 2rem;
}
.profile_cards{
    background-color:var(--color--bg2);
    padding: 2rem;
    border:1px solid transparent;
   position: relative;
   overflow: hidden;
    transition: var(--transition);
}
.profile_cards:hover{
    background: transparent;
    border-color: var(--color--primary);
}
.pro_iamage img{
    filter: saturate(0);
}
.pro_iamage:hover img{
    filter: saturate(100%);
}
.team_info *{
 text-align: center;
 margin-top: 1.4rem;
}
.team_info p{
    color: var(--color--light);
}
.profile_cards:hover .social{
    right: 0%;
  
}
.social{
    position: absolute;
    top: 50%;
    right: -100%;
    display: flex;
    flex-direction: column;
    background:var(--color--primary);
    border-radius: 1rem 0 0 1rem;
    transform: translateY(-50%);
    box-shadow: -2rem 0 2rem rgba(0,0,0,0.3);
    transition:  var(--transition);
}
.social a{
    padding: 1rem;
}

@media screen and (max-width:1024px) {
    .ach
    {
        grid-template-columns: 1fr;
    }
    .about_container_left{
       width: 80%;
        margin: 0 auto;


    }
  .profiles{
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
  }
  .profile_cards{
    padding: 1rem;
  }
}
@media screen and (max-width: 600px) {
  
  .ach_cards{
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
  .profiles{
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
  .about_container_right p{
    padding: 0.4rem;
  }
}