* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  /**/
  /*Declare a Css Varaiable and assign the vlaue in color form*/
  :root {
    --color--primary: #6c63ff;
    --color--success: #00bf8e;
    --color--warning: #f7c94b;
    --color--danger: #f75842;
    --color--warning-variant: rgba(247, 88, 66, 0.4);
    --color--white: #fff;
    --color--light: rgba(255, 255, 255, 0.7);
    --color--black: #000;
    --color--bg: #1f2641;
    --color--bg1: #2e3267;
    --color--bg2: #424890;
  
    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
  
    --transition: all 400ms ease;
  }
  /* Deal with body*/
  body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    background-color: var(--color--bg);
    color: var(--color--white);
  }
  
  /*container*/
  .continer {
    width: var(--container-width-lg);
    margin: 0 auto;
  }
  /* set some basic value of these tag do not write agaain and again */
  section {
    line-height: 6rem 0;
  }
  section h2 {
    text-align: center;
    margin-bottom: 4rem;
  }
  h1,
  h1,
  h3,
  h4,
  h5 {
    line-height: 1.2;
  }
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1, 6rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  a {
    color: var(--color--white);
  }
  img {
    width: 100%;
    display: block;
    object-fit: cover;
  }
  .btn {
    display: inline-block;
    background: var(--color--white);
    color: var(--color--black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
  }
  .btn:hover {
    background: transparent;
    color: var(--color--white);
    border-color: var(--color--white);
  }
  .btn-primary {
    background: var(--color--danger);
    color: var(--color--white);
  }



/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: var(--color--bg2);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: var(--color--primary);
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: transparent;
    padding: 20px;
    margin-top: 8rem;
  }